@import "tailwindcss";
@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@700;900&display=swap');

html,
body,
#root {
  height: 100%;
}

.futuristic {
  font-family: 'Orbitron', sans-serif;
  font-weight: 900;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  color: #ffffff;
}

:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
}


